#graficoProblema40 {
  width: 500px;
  height: 300px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#graficaCrecimiento {
  width: 400px;
  height: 300px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

